<!-- <p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p> -->

<footer class="footer-container">
  <div class="section contact">
    <h3>Contacto</h3>
    <p>web: lbda.com</p>
    <p>Teléfono: +57 3002801952</p>
  </div>

  <div class="section social-network">
    <h3>Redes Sociales</h3>
    <section>
      <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
    </section>
  </div>

  <div class="section attribution">
    <h3>Autoría de la App</h3>
    <p>© 2023 lbda App</p>
    <p>Desarrollado por: joan lemus</p>
  </div>
</footer>