<footer class="footer-container">
  <div class="section contact">
    <h3>Contacto</h3>
    <p>web: lbda.com</p>
    <p>Teléfono: +57 3002801952</p>
  </div>

  <div class="section social-network">
    <h3>Redes Sociales</h3>
    <section>
      <a href="https://www.facebook.com/lasbarbasdelabuel/" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.instagram.com/lasbarbas/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://api.whatsapp.com/send/?phone=573196073229" target="_blank"><i
          class="fa-brands fa-whatsapp"></i></a>
    </section>
  </div>

  <div class="section attribution">
    <h3>Autoría de la App</h3>
    <p>© 2023 lbda App</p>
    <p>Desarrollado por: joan lemus</p>
  </div>
</footer>