<p>
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Las Barbas del Abuelo</span>
    <span class="example-spacer"></span>
    <button mat-flat-button color="primary" type="submit" (click)="irARuta(1)">
      booking
    </button>
    <span class="example-spacer"></span>
    <button mat-flat-button color="primary" type="submit" (click)="irARuta(2)">
      Barberos
    </button>

    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
