.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #1c1c1c; /* Color del toolbar */
  color: #ffffff; /* Color del texto en el toolbar */
}

.app-title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

.nav-list {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
