<div *ngIf="loading"><app-loader></app-loader></div>
<div *ngIf="!loading" class="demo-button-container">
  <!-- Otro componente o template donde quieras usar la modal -->
  <div *ngIf="modal" class="modal-overlay">
    <div class="modal-container">
      <div class="modal-header">
        <span> mi modal</span>
        <button (click)="cerrarModal()">cerrar</button>
      </div>
      <div class="modal-body">
        <app-booking-form></app-booking-form>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
  <!-- <app-booking-form *ngIf="modal"></app-booking-form> -->
  <!-- filtro para tabla -->
  <div class="example-container">
    <form [formGroup]="filtro" (ngSubmit)="loadData()">
      <div>
        <label>Filtro: </label>
        <!-- <mat-radio-group>
          <mat-radio-button value="auto">Libre</mat-radio-button>
          <mat-radio-button value="always">Citas</mat-radio-button>
        </mat-radio-group> -->
      </div>

      <div class="example-form-fields">
        <mat-form-field>
          <mat-label>Seleccione un dia</mat-label>
          <input matInput [matDatepicker]="fecha" formControlName="dayFilter" />
          <mat-datepicker-toggle matIconSuffix [for]="fecha"></mat-datepicker-toggle>
          <mat-datepicker #fecha></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Seleccione Barbero</mat-label>
          <mat-select formControlName="barbero">
            <mat-option value=0> Todos </mat-option>
            <mat-option *ngFor="let barber of barberList" [value]="barber.id">{{
              barber.name
              }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>

          <!-- <button mat-flat-button color="primary" type="submit">Filtrar</button> -->
        </div>
      </div>

    </form>
  </div>

  <div class="options">
    <button mat-fab extended color="accent" (click)="modalNuevaCita()">
      <mat-icon><i class="fa-sharp fa-solid fa-plus"></i></mat-icon>
      Nueva cita
    </button>
  </div>

  <!-- Tabla de agenda -->
  <div class="tabla">

    <table mat-table [dataSource]="appointmentList" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="barbero">
        <th mat-header-cell *matHeaderCellDef>Barbero</th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{ 'background-color': element.barber.color }">
          {{ element.barber.name }}
        </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef>Hora</th>
        <td mat-cell *matCellDef="let element">
          {{ element.timeStart | date : "shortTime" }}
        </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let element">{{ element.client.name }}</td>
      </ng-container>
      <!-- Position Column -->
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef>telefono</th>
        <td mat-cell *matCellDef="let element">{{ element.client.phone }}</td>
      </ng-container>

      <!-- options Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>Options</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button class="example-icon" aria-label="update" (click)="updateData(element)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button class="example-icon" aria-label="delete" (click)="deleteData(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>