<div *ngIf="loading"><app-loader></app-loader></div>
<div *ngIf="!loading" class="main-container">

  <div *ngIf="isModalOpen" class="modal-overlay">
    <div class="modal-container">
      <div class="modal-body">
        <button (click)="closeModal()">Close</button>
        <app-booking-form [appointmentDetails]="appointmentDetails">
        </app-booking-form>
      </div>
    </div>
  </div>


  <!-- filtro para tabla -->


  <div class="filter-container">
    <form [formGroup]="filtro" (ngSubmit)="loadData()">
      <div>
        <label>Filtro: </label>
      </div>

      <div class="example-form-fields">
        <mat-form-field>
          <mat-label>Seleccione un dia</mat-label>
          <input matInput [matDatepicker]="fecha" formControlName="dayFilter" />
          <mat-datepicker-toggle matIconSuffix [for]="fecha"></mat-datepicker-toggle>
          <mat-datepicker #fecha></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Seleccione Barbero</mat-label>
          <mat-select formControlName="barbero">
            <mat-option value=0> Todos </mat-option>
            <mat-option *ngFor="let barber of barberList" [value]="barber.id">{{
              barber.name
              }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>

          <!-- <button mat-flat-button color="primary" type="submit">Filtrar</button> -->
        </div>
      </div>

    </form>
  </div>

  <div class="options">
    <button mat-mini-fab color="primary" (click)="loadData()">
      <mat-icon><i class="fa-solid fa-arrows-rotate"></i> </mat-icon>
    </button>
    <button mat-mini-fab color="accent" (click)="modalNuevaCita()">
      <mat-icon><i class="fa-sharp fa-solid fa-plus"></i> </mat-icon>
    </button>
  </div>

  <!-- Tabla de agenda -->
  <div class="tabla">

    <table mat-table [dataSource]="appointmentList" class="mat-elevation-z8">
      <!-- Time Column -->
      <ng-container matColumnDef="hora">
        <th mat-header-cell *matHeaderCellDef>{{daySelected | date : "fullDate" }}</th>
        <td *matCellDef="let element" (click)="updateData(element)" mat-cell>
          <div class="tr-citas">
            <div class="td-detalles">
              <div class="td-hora">
                {{ element.timeStart | date : "shortTime" }}
              </div>
              <div class="td-barbero" [ngStyle]="{ 'background-color': element.barber.color }">
                {{ element.barber.name }}
              </div>
              <div class="td-cliente">
                {{ element.client.name }}
              </div>
            </div>
          </div>
        </td>
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef></th>

          <td *matCellDef="let element" mat-cell>
            <div class="td-optiones">
              <button mat-icon-button class="example-icon" aria-label="update" (click)="updateData(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button class="example-icon" aria-label="delete" (click)="deleteData(element.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>

          </td>
        </ng-container>


      </ng-container>
      <!-- Barbero Column
      <ng-container matColumnDef="barbero">
        <th mat-header-cell *matHeaderCellDef>Barbero</th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{ 'background-color': element.barber.color }">
          {{ element.barber.name }}
        </td>
      </ng-container> -->
      <!-- Name Column -->
      <!-- <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let element">{{ element.client.name }}</td>
      </ng-container> -->
      <!-- Telefono Column
      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef>telefono</th>
        <td mat-cell *matCellDef="let element">{{ element.client.phone }}</td>
      </ng-container> -->

      <!-- options Column
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef>Options</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button class="example-icon" aria-label="update" (click)="updateData(element)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button class="example-icon" aria-label="delete" (click)="deleteData(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" class="data"></tr>
    </table>
  </div>
</div>