section {
  display: flex;
  align-content: center;
  justify-content: space-around;
  padding: 1em;
  /* background-color: darkgrey; */
}
mat-form-field {
  padding: 0.5em;
  /* background-color: aquamarine; */
}
mat-icon {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 80px;
  width: 80px;

  /* background-color: brown; */
  border-radius: 50%;
}
mat-icon img {
  height: auto;
}
